EUREKA_SERVER_URL=http://localhost:8761/eureka/
API_GATEWAY_PORT=8080
AUTH_SERVICE_PORT=8081
FLIGHT_SERVICE_PORT=8082
SEAT_SERVICE_PORT=8083
BOOKING_SERVICE_PORT=8084
PASSENGER_SERVICE_PORT=8085
PAYMENT_SERVICE_PORT=8086
NOTIFICATION_SERVICE_PORT=8087
AIRLINE_AIRPORT_SERVICE_PORT=8088
ADMIN_SERVICE_PORT=8089

JWT_SECRET=skyBookerSecretKeyForJWTTokenValidationPurpose123456789
JWT_EXPIRATION=86400000

GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID_HERE

RAZORPAY_KEY_ID=YOUR_RAZORPAY_KEY_ID_HERE
RAZORPAY_KEY_SECRET=YOUR_RAZORPAY_KEY_SECRET_HERE

DATABASE_HOST=localhost
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

AUTH_DB_PORT=5433
FLIGHT_DB_PORT=5434
SEAT_DB_PORT=5435
BOOKING_DB_PORT=5436
PASSENGER_DB_PORT=5437
PAYMENT_DB_PORT=5438
NOTIFICATION_DB_PORT=5439
AIRLINE_AIRPORT_DB_PORT=5440
ADMIN_DB_PORT=5441

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-app-password
NOTIFICATION_FROM_EMAIL=noreply@skybooker.com
